@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");

.footer > div > div > div {
  background: #1d2833;
  color: rgba(231, 239, 239, 0.7);
}
.footer {
  box-shadow: -3px -3px 3px 1px rgba(24, 33, 42, 0.83);
}

.footerbottomt {
  top: 31px;

  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 38.2353px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #e7efef;
}

g1 {
  background: #1d2833;
  color: #1ea54c;
}

.footerbottom1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5391px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: rgba(231, 239, 239, 0.7);
  background: #1d2833;
}

.footerbottomimg {
  margin-left: 6vw;
  background: #1d2833;
}
.footerbottomimgmain {
  background: #1d2833;
}

#foobottom {
  background: #23303D;
  padding-top: 105.640px;
}

@media (max-width: 550px) {
  .footerbottomimg {
    margin-left: 1vw;
  }

  .footerbottom1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 8.57143px;
    line-height: 10px;
  }
  .footerbottomimg img {
    width: 14.89px;
    background: #1d2833;
  }
  .footerbottomimgmain img {
    width: 14.89px;
    background: #1d2833;
  }
}
