@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
body {
  background-color: #23303d;
  font-family: "Fira Code", monospace;
  color: #e7efef;
}

p {
  font-family: Nunito Sans;
}
.hackname {
  padding-top: 36px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  letter-spacing: 0.04em;

  color: #e7efef;
}

p,
f,
r,
h3 {
  font-family: Nunito Sans;
}

.details {
  padding-top: 24px;
}
.details2 {
  padding-top: 24px;
}
nbg {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.08em;

  color: rgba(231, 239, 239, 0.36);
}
input#image_uploads {
  opacity: 0;
}

.inputimg {
  width: 101.6%;
}

input,
.textboxbio {
  padding-left: 18px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #e7efef;

  opacity: 0.7;
}

.textbox {
  margin-top: 4px;

  width: 91.5%;
  height: 43.14px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}
.datetime {
  margin-top: 4px;

  width: 44.75%;
  height: 43.14px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.inputdeets {
  margin-top: 28px;
}

.textboxbio {
  padding-left: 18px;
  margin-top: 4px;
  width: 91.5%;
  height: 300px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.btns {
  padding-top: 36px;
}

.delete {
  width: 165px;
  height: 37px;
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2);
  border-radius: 1.5px;
  border: none;
}

.savechanges {
  width: 165px;
  height: 37px;
  left: 1100px;
  top: 142px;
  background: none;
  filter: drop-shadow(0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2));
  border-radius: 1.5px;
  border-color: #008249;
}

.outerdetails {
  margin-left: 3.75%;
}

.label {
  margin-left: 108px;
}
.plusbox {
  margin-top: 4px;

  height: 192px;

  vertical-align: middle;
  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}
.plusboximg {
  height: 192px;

  vertical-align: middle;
}

.plus {
  background: #2e3d4c;
  padding-top: 67px;
}

.nbg {
  margin-top: 45px;
}

input:focus {
  outline: none;
  border-color: #008249;
}

textarea:focus {
  outline: none;
  border-color: #008249;
}
.mainsection {
  background-color: #23303d;
}
.maintext {
  font-family: "Fira Code", monospace;
  padding-top: 5%;
  padding-bottom: 4%;
}
text {
  color: #1ea54c;
}
hackathon {
  color: #e7efef99;
}
f {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
}
.vl {
  height: 184px;
  border-left: 1.08px solid #f3f3f34d;
}
.card-details {
  display: flex;
}
.team-members {
  list-style-type: none;
}
.list-item {
  display: flex;
  line-height: 0.99;
  margin-bottom: 11px;
}
#pp {
  padding-right: 20px;
  width: 52px;
  height: 32px;
}

.text {
  margin-top: 8px;
}
r {
  float: right;
  padding: 10px;
  color: #e7efef99;
}
.card {
  border: none !important;
  background-color: #1d2833 !important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  margin-top: 20px;
}

.card * {
  background-color: #1d2833 !important;
}

.empty {
  padding: 40px;
}
li p t {
  color: #1ea54c;
  font-size: small;
}

.wrapper {
  display: flex;
  flex-basis: 494px;
  text-align: start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 8.333%;
  margin-right: 8.333%;
  padding-left: 12px;
}

.box {
  background: #1d2833;
  width: 44.5%;
  height: 351px;
  border-radius: 2.21008px;
  margin-top: 28px;
  min-width: 494px;
}

.box * {
  background: #1d2833;
}
.innertxt {
  padding: 48px 0 0 64px;
}
nb1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.08em;

  color: #e7efef;
}

nb2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 45.1371px;
  line-height: 140%;
  /* or 63px */

  letter-spacing: 0.08em;

  color: #e7efef;
}

nb3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 17.5533px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.08em;

  color: rgba(231, 239, 239, 0.6);
}
#pagination {
  display: flex;
  flex-basis: 353.33px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 10px;
}

.pagenation {
  justify-content: center;
  text-align: center;
  margin-top: 22px;
  margin-left: 11px;
  width: 42px;
  height: 42px;
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1.17615px 1.17615px 11.7615px rgba(0, 0, 0, 0.2);
  border-radius: 1.55556px;
  border: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19.96px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.04em;

  /* Text Colour */

  color: #e7efef;
}

.current {
  justify-content: center;
  text-align: center;
  margin-top: 22px;
  margin-left: 11px;
  width: 42px;
  height: 42px;
  background: linear-gradient(103.71deg, #66c59c -20.85%, #226045 122.33%);
  box-shadow: 1.17615px 1.17615px 11.7615px rgba(0, 0, 0, 0.2);
  border-radius: 1.55556px;
  border: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19.96px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.04em;

  /* Text Colour */

  color: #e7efef;
}

.dots {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.16em;
  color: #008249;
  position: relative;
  top: 54px;
  margin-left: 11px;
}
@media (max-width: 1200px) {
  .wrapper {
    justify-content: center !important;
  }
}
@media (max-width: 768px) {
  .textbox {
    width: 100%;
  }
  .textboxbio {
    width: 100%;
  }

  .outerdetails {
    margin-left: 0;
  }
  .wrapper {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .wrapper {
    flex-basis: 342px;
  }
  .box {
    min-width: 342px;
    width: 342px;
    height: 307.08px;
  }

  .innertxt {
    padding: 33.23px 0 0 44.31px;
  }

  nb1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19.3846px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #e7efef;
  }

  f {
    font-size: 31.2487px;
    line-height: 140%;

    letter-spacing: 0.08em;

    color: #e7efef;
  }

  r {
    font-size: 12.1523px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: rgba(231, 239, 239, 0.6);

    padding: 5px;
  }

  p {
    font-size: 13.8883px;
    line-height: 19px;
    letter-spacing: 0.04em;

    color: #e7efef;
  }

  .list-item {
    margin-bottom: 5px;
  }
}

.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: visible;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-color: #23303d;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
  box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

re {
  color: rgba(245, 70, 70, 0.6);
  vertical-align: top;
}