@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
html,
body {
  background-color: #23303d;
  margin: 0;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: bold;
  overflow: auto;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0,
    #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0,
    #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
  box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0,
    #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0,
    #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.first {
  padding-left: 130px;
  padding-top: 80px;
}
input {
  font: 16px/26px "Fira Code", monospace;
}
.form-wrap {
  background-color: #1d2833;
  width: 450px;
  margin-top: 50px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.form-wrap .tabs {
  overflow: hidden;
}
.form-wrap .tabs h3 {
  float: left;
  width: 50%;
  font-size: 23px;
}
.form-wrap .tabs h3 a {
  padding: 0.5em 0;
  text-align: center;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: bold;
  background-color: #23303d;
  display: block;
  color: #fff;
}
.active3 {
  border-bottom: 6px solid transparent;
  border-color: #1ea54c;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 2px 0px 0px;
}
.inactive4 {
  background-color: #23303d;
  opacity: 0.8;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px 0px 0px 0px;
}
.form-wrap .tabs-content {
  padding: 1.5em;
}
.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}
.form-wrap .tabs-content .active {
  display: block !important;
}
.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  padding: 15px 0 10px 0.8em;
  border: 2px solid rgba(30, 165, 76, 0.2);
  outline: 0;
  display: inline-block;
  margin: 0 0 1em 0;
  padding-right: 2em;
  width: 100%;
  background-color: #2e3d4c;
}
.form-wrap form .button {
  width: 100%;
  margin-top: 40px;
  padding: 0.8em 0 10px 0.8em;
  background-color: #226045;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16.9706px;
}
.form-wrap form .button:hover {
  background-color: #157347;
}
.form-wrap .help-text {
  margin-top: 0.6em;
  margin-left: 285px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 14px;
}
.forgot {
  color: #fff;
  color: #fff;
  font-size: 14px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.3px;
}
.forgot:hover {
  color: #fff;
}
@media (min-width: 375px) and (max-width: 1000px) {
  .first {
    display: none;
  }
  .form-wrap .help-text {
    font-size: 10px;
  }
  .form-wrap {
    width: 475px;
  }
}
@media (min-width: 375px) and (max-width: 474px) {
  .first {
    display: none;
  }
  .form-wrap .help-text {
    margin-left: 180px;
    font-size: 10px;
  }
  .form-wrap {
    width: 475px;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .first {
    display: none;
  }
}
