@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
.main {
  background-color: #23303d;
  font-family: "Fira Code", monospace;
  color: #e7efef;
}

nav {
  font-family: "Fira Code", monospace;
}

.photo {
  height: 85px;
  width: 85px;
}
.hackname {
  padding-top: 36px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  letter-spacing: 0.04em;

  color: #e7efef;
}

.details {
  padding-top: 24px;
}
.details2 {
  padding-top: 61px;
}
nbg {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.08em;

  color: rgba(231, 239, 239, 0.36);
}
input#image_uploads {
  opacity: 0;
}

.inputimg {
  width: 101.6%;
}

.textbox {
  margin-top: 4px;

  width: 85.5%;
  height: 43.14px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.inputdeets {
  margin-top: 28px;
}

input{
  padding-left: 15px;
  color: #e7efef;
}
input:focus {
  outline: none;
  border-color: #008249;
}

.textboxbio {
  margin-top: 4px;
  width: 84.25%;
  height: 296px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.btns {
  padding-top: 36px;
}
.btns1 {
  padding-top: 36px;
  display: none;
}

.delete {
  width: 165px;
  height: 37px;
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2);
  border-radius: 1.5px;
  border: none;
}

.delete:hover {
  background: linear-gradient(103.71deg, #157347 -20.85%, #226045 122.33%);
}

.savechanges {
  width: 165px;
  height: 37px;
  background: none;
  filter: drop-shadow(0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2));
  border-radius: 1.5px;
  border-color: #008249;
}
.edit{
  background: none;
  filter: drop-shadow(0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2));
  border-radius: 1.5px;
  border-color: #008249;
}

.savechanges:hover {
  background: linear-gradient(103.71deg, #157347 -20.85%, #226045 122.33%);
  border-color: #157347;
}
.box {
  margin-top: 4px;

  width: 32.9vw;
  height: 192px;

  vertical-align: middle;
  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.plus {
  background: #2e3d4c;
  padding-top: 67px;
}

.nbg{
  margin-top: 91px;
}

input::placeholder{
  font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.04em;

color: #E7EFEF;

opacity: 0.7;

}

.const{
  font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */
padding-top: 11px;
padding-left: 15px;
letter-spacing: 0.04em;

color: #E7EFEF;

opacity: 0.7;

}

@media (max-width: 768px){

  .btns{
    display: none;
  }

  .logo{
    text-align: center;
  }
  .btns1{
    display: block;
  }

  .textbox {
  width: 100%;
  }
  
}

.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: visible;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-color: #23303d;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
  box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

r {
  color: rgba(245, 70, 70, 0.6);
}