@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
body {
  background-color: #23303d;
}
*{
  font-family: "Fira Code", monospace;
  color: #e7efef;
}
html {
  scroll-behavior: smooth;
}
.teamname {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  letter-spacing: 0.04em;

  color: #e7efef;
}

nbgre {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 18.5651px;
  line-height: 140%;
  /* or 26px */

  letter-spacing: 0.04em;

  /* Pill Button Colour */

  color: #1ea54c;
}

nbgw {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  letter-spacing: 0.12em;

  color: rgba(231, 239, 239, 0.6);
}

.text {
  padding-top: 24px;
}

.box2 {
  margin-top: 37px;
  padding-left: 0px;
  background: #1d2833;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  border-radius: 2px;
}

.box2 * {
  background: #1d2833;
}

nbg1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #e7efef;
}

nbg {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 15.2632px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #1ea54c;
}

nbw {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: rgba(231, 239, 239, 0.6);
}

.box3 {
  background: #1d2833;
  /* card shadow */

  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  border-radius: 4px;
}

nb1 {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 25.3533px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

.box3 {
  background: #1d2833;
  width: 353.33px;
  height: 424px;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  border-radius: 4px;
}
.leaves{
  cursor: pointer;
}

.innertxt {
  padding-left: 43.09px;
}

.box3 * {
  background: #1d2833;
}

nbg {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13.7886px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.04em;

  color: #979797;
}

.nbg {
  margin-top: 15.05px;
}
.nbw {
  margin-top: 5.17px;
}

nbw {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15.5122px;
  line-height: 160%;
  /* identical to box height, or 25px */

  letter-spacing: 0.04em;
}

.box5 {
  padding-left: 25.85px;
}
.dates {
  display: flex;
}

.status {
  margin-top: 18.12px;
}
.btnkm {
  margin-top: 26.04px;
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 267px;
  height: 41px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 16.9706px;
  line-height: 22px;
  border: none;
  /* identical to box height */

  letter-spacing: 0.04em;
}

.display2 {
  display: none;
}

.details {
  padding-left: 8.333%;
}
@media (max-width: 1131px) {
  .display1 {
    display: none;
  }
  .display2 {
    display: flex;
    justify-content: center;
  }
  .details {
    padding-left: 0;
  }
}
