@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
html,body{
	background-color: #23303D;
	margin:0;
	font-family: "Fira Code";
	font-style: normal;
	font-weight: bold;
}
/*Navbar CSS*/
nav {
  background-color: #1d2833;
  padding-left: 8.3333%;
  top: 13px;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e7efef;
}
.navbar-dark .navbar-nav .nav-link {
  color: #e7efef;
}

b {
  font-size: 26px;
}

nav * {
  background-color: #1d2833;
  font-weight: 700;
  color: #e7efef;
}
g {
  color: #1ea54c;
}

.btnsignup {
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
  width: 154px;
  height: 36px;
  font-size: 16.9706px;
}

.navbar-nav {
  padding-right: 8.333%;
}

.dropdown-item {
  color: #e7efef;
  background-color: #1d2833;
}

.dropdown-menu {
  padding: 0;
  border: 0;
}

.nav-link.img {
  padding-top: 0;
  display: none;
}

.nav-item .nav-link {
  padding-right: 56px;
}

@media (min-width: 1060px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 56px;
    padding-left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link.alerts {
      padding-right: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link.dropdown-toggle.username{
    padding-left: 0.5rem;
}
}

@media (min-width: 992px) {
  .alerts::after {
    content: "|";
    color: rgba(255, 255, 255, 0.55);
  }
  .alerts img {
    margin-right: 47.25px;
  }
  .nav-link {
    padding: 15px 0 0 0;
  }

  .nav-item .nav-link.img {
    display: initial;
  }

  
}

@media (max-width: 992px) {
  nav {
    padding-left: 12px;
  }

  .navbar-nav {
    padding-right: 0;
  }
}
/* MAIN PAGE CSS*/
.form-control{
  max-width: 750px;
  max-height:56px;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  border: 3px solid rgba(30, 165, 76, 0.2)!important;
  border-radius:2px !important;
  background-color: #2E3D4C!important;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #E7EFEF;
  opacity: 0.7;
}
input{
  border: 3px solid rgba(30, 165, 76, 0.2);
  border-radius:2px ;
  background-color: #2E3D4C;
}
form{
padding-top:70px;
padding-bottom:30px;
}
.button {
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  background: #1EA54C;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height: 38px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  letter-spacing: 0.04em;
}
.button1{
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #1EA54C;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height:38px;
}
.box{
  max-width:750px;
  padding-bottom: 20px;
}
.card{
  border:none;
  padding-bottom: 20px;
  background-color:#23303D;
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#1D2833;
  color: #E7EFEF;
  font-family: "Nunito Sans";
  line-height:1;
}
.card-body p{
  font-size:large;
}
t{
  font-size: small;
  color:#1EA54C;
}
/*FOOTER CSS */
.footer > div > div > div {
  background: #1d2833;
  color: rgba(231, 239, 239, 0.7);
}

.footer {
  box-shadow: -3px -3px 3px 1px rgba(24, 33, 42, 0.83);
}

.footerbottomt {
  top: 31px;

  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 38.2353px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #e7efef;
}

g1 {
  background: #1d2833;
  color: #1ea54c;
}

.footerbottom1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5391px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: rgba(231, 239, 239, 0.7);
  background: #1d2833;
}

.footerbottomimg {
  margin-left: 6vw;
}

#foobottom {
  background: #23303D;
  padding-top: 105.640px;
}

@media (max-width: 550px) {
  .footerbottomimg {
    margin-left: 1vw;
  }

  .footerbottom1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 8.57143px;
    line-height: 10px;
  }
  .footerbottomimg img {
    width: 14.89px;
    background: #1d2833;
  }
  .footerbottomimgmain img {
    width: 14.89px;
    background: #1d2833;
  }
}
