@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
body {
  background-color: #23303d;
}
*{
  font-family: "Fira Code", monospace;
  color: #e7efef;
}

.main {
  padding-left: 128px;
}

.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #23303d;
  visibility: visible;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23303d;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
  box-shadow: #1ea54c 1.5em 0 0 0, #1ea54c 1.1em 1.1em 0 0, #1ea54c 0 1.5em 0 0, #1ea54c -1.1em 1.1em 0 0, #1ea54c -1.5em 0 0 0, #1ea54c -1.1em -1.1em 0 0, #1ea54c 0 -1.5em 0 0, #1ea54c 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hackathons {
  padding-top: 36px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  letter-spacing: 0.04em;
  padding-left: 0.5rem;
}

.wrapper {
  display: flex;
  flex-basis: 353.33px;
  justify-content: center;
  text-align: start;
  align-items: center;
  flex-wrap: wrap;
}
/* .wrapper1 {
  display: flex;
  flex-basis: 353.33px;
  justify-content: center;
  text-align: start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
} */
#pagination {
  display: flex;
  flex-basis: 353.33px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 10px;
}

nb1 {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 25.3533px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

.box {
  background: #1d2833;
  width: 317px;
  height: 404px;
  margin-top: 57px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  border-radius: 4px;
}

.innertxt {
  padding-left: 25px;
}

.box * {
  background: #1d2833;
}

nbg {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13.7886px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.04em;

  color: #979797;
}

.nbg {
  margin-top: 15.05px;
}
.nbw {
  margin-top: 5.17px;
}

nbw {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15.5122px;
  line-height: 160%;
  /* identical to box height, or 25px */

  letter-spacing: 0.04em;
}

.box2 {
  padding-left: 25.85px;
}
.dates {
  display: flex;
}

.button {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: #1ea54c;
  border: 2.53333px solid #1ea54c;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height: 38px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  width: 115.27px;
    line-height: 140%;
  letter-spacing: 0.04em;
}
.button * {
  background: #1ea54c;
}
.button1 {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: #1d2833;
  border: 2.53333px solid #1ea54c;
  box-sizing: border-box;
  border-radius: 63.3333px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #1ea54c;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height: 38px;
  width: 115.27px;
}

h6 {
  margin-bottom: 0;
}

.button1 * {
  background: #1d2833;
}

.top-button {
  display: contents;
}

.btnkm {
  margin-top: 26.04px;
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 267px;
  height: 41px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 16.9706px;
  line-height: 22px;
  border: none;
  /* identical to box height */

  letter-spacing: 0.04em;
}

.namebanner{
  width: 317px;
}

.pagenation{
  justify-content: center;
  text-align: center;
  margin-top: 82px;
  margin-left: 11px;
  width: 42px;
height: 42px;
background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
box-shadow: 1.17615px 1.17615px 11.7615px rgba(0, 0, 0, 0.2);
border-radius: 1.55556px;
border: none;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 19.96px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.04em;

/* Text Colour */

color: #E7EFEF;

}

        .current {
            justify-content: center;
            text-align: center;
            margin-top: 82px;
            margin-left: 11px;
            width: 42px;
            height: 42px;
            background: linear-gradient(103.71deg, #66c59c -20.85%, #226045 122.33%);
            box-shadow: 1.17615px 1.17615px 11.7615px rgba(0, 0, 0, 0.2);
            border-radius: 1.55556px;
            border: none;
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 19.96px;
            line-height: 27px;
            /* identical to box height */

            letter-spacing: 0.04em;

            /* Text Colour */

            color: #E7EFEF;

        }

.dots{
  font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.16em;
color: #008249;
position: relative;
top: 54px;
margin-left: 11px;
}
@media (max-width: 992px) {
  .main {
    padding-left: 12px;
  }
}
